<div class="container">
        
          <div class="page-header">
<h1>My Cart</h1>
</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="well">
			<div>
				<% @line_items.each do |line_item| %>
					<table>
						
						<%= image_tag line_item.product.image.url, class: "img-responsive list-image"%>
						<tr>
						<td><%= line_item.product.name %></td>
					</tr>
					<tr>
						<td><%= number_to_currency line_item.product.price %></td>
					</tr>
					<tr>
						<td>Qty: <%= line_item.quantity%></td>
					</tr>
					<tr>
						<td>
							<%= form_tag edit_order_path(id: line_item.id), method: :put do %>
			      	<%= number_field_tag :quantity, nil, value: line_item.quantity, min: 1, max: line_item.product.quantity %>
			      	<%= submit_tag "Change quantity", class: "btn btn-primary"%>

			      	<%end%>
						</td>
						</tr>
					</table>
						<li>Subtotal: <%= number_to_currency line_item.line_item_total %></li>
						<li><%= link_to 'Remove', remove_from_cart_path(id: line_item.id),
						method: :delete, data: { confirm: 'Are you sure?'}%></li>

						
					
					<%end%>
		</div>
		</div>
	</div>
</div>

 <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-warning"%>
 <br>
<br>
<br>
<br>
<br>
<br>
<br>
 <%= render 'storefront/footer' %>
 
